<main id="info" class="flex flex-col gap-5 w-[80%] h-[49.125rem]">
    <div class="bg-white p-6 flex flex-col rounded-xl gap-10 h-[65%] w-full">
        <div class="flex justify-between items-center">
            <span class="font-bold text-[#1D1B20] text-2xl">
                User account information
            </span>

            <button id="edit_info_btn"
                class="border py-2 px-3 items-center rounded-[0.625rem] text-[#307FF8] border-[#307FF8] flex gap-2">
                edit

                <img src="/icons/UpdateMain/edit-b.svg" alt="..." />
            </button>
        </div>

        <div class="w-1/2">

            <main class="grid gap-5 items-center text-[#605D64] grid-cols-2">
                <span>
                    logo
                </span>
                <div class="w-14 h-14 rounded-full border border-[#605D64]"></div>

                <span>
                    username
                </span>
                <div class="text-[#1D1B20]">hossein_</div>

                <span>
                    last name:
                </span>
                <div class="text-[#1D1B20]">eftekhair</div>

                <span>
                    birth date:
                </span>
                <div class="text-[#1D1B20]">20/8/1378</div>

                <span>
                    address:
                </span>
                <div class="text-[#1D1B20]">Najaf_Iraq</div>

                <span>
                    phonen umber:
                </span>
                <div class="text-[#1D1B20]">09184720235</div>

                <span>
                    email:
                </span>
                <div class="text-[#1D1B20]">hosseinahmadian3d17@gmail.com </div>

                <span>
                    create date:
                </span>
                <div class="text-[#1D1B20]">11/3/1401 </div>
            </main>
        </div>
    </div>

    <div class="bg-white p-6 flex flex-col rounded-xl gap-10 h-[35%] w-full">
        <div class="flex justify-between items-center">
            <span class="font-bold text-[#1D1B20] text-2xl">
                Bank account information
            </span>

            <button id="edit_info_btn"
                class="border py-2 px-3 items-center rounded-[0.625rem] text-[#307FF8] border-[#307FF8] flex gap-2">
                edit

                <img src="/icons/UpdateMain/edit-b.svg" alt="..." />
            </button>
        </div>

        <div class="w-1/2">

            <main class="grid gap-5 items-center text-[#605D64] grid-cols-2">
                <span>
                    cart number
                </span>
                <div class="text-[#1D1B20]">5891-1012-0702-5053</div>

                <span>
                    acoount number
                </span>
                <div class="text-[#1D1B20]">5891-1012-0702-5053</div>

                <span>
                    sheba number
                </span>
                <div class="text-[#1D1B20]">IR-5652136000000098658746</div>
            </main>
        </div>
    </div>
</main>