<div id="modal_charged"
        class="fixed hidden bg-black/50 top-0 z-50 justify-center items-center left-0 w-full h-full">
        <div
            class="w-[50rem] inner_modal_charged mobile:w-[30.75rem] flex flex-col justify-center items-center z-50 bg-white rounded-xl p-4 gap-3">
            <img src="/icons/UpdateMain/successfully.svg" alt="" />

            <span class="text-[#1C0E07] font-bold text-2xl">
                کیف پول با موفقیت شارژ شد.
            </span>

            <p class="text-[#1C0E07]">
                مبلغ 12,000,000 ریال به حساب کیف پول شما اضافه شد.
            </p>

            <button id="close_modal_charged" class="rounded-xl bg-[#307FF8] text-white py-3 px-8">
                متوحه شدم
            </button>
        </div>
    </div>