<aside class="overflow-hidden lg:hidden rounded-[0.625rem] relative pb-5 bg-white w-full">
    <div class="h-24 w-full bg-gradient-to-r from-[#FFA371] bg-[#FF5A00]"></div>
    <div class="flex justify-center">
        <img src="/icons/UpdateMain/profile.png" alt="..."
            class="absolute top-12 w-24 h-24 rounded-full " />
    </div>

    <div class="flex mt-16 px-5 text-[#1D1B20] justify-center">
        <ul class="w-full grid grid-cols-5 justify-center gap-3">
            <li>

                <a href="/profile/index.html"
                    class="flex px-2.5 py-2 flex-col w-full bg-[#FFDAC6] rounded-lg items-center gap-2">
                    <img src="/icons/UpdateMain/profile.svg" alt="..." />

                    <span>
                        Profile
                    </span>
                </a>
            </li>
            <li>

                <a href="/profile/wallet.html"
                    class="flex px-2.5 py-2 w-full flex-col ] rounded-lg items-center gap-2">
                    <img src="/icons/UpdateMain/profile-wallet.svg" alt="..." />

                    <span>
                        Wallet
                    </span>
                </a>
            </li>
            <li class="flex flex-col px-2.5 py-2 w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/ticket.svg" alt="..." />

                <span>
                    Tickets
                </span>
            </li>
            <li class="flex px-2.5 flex-col py-2 w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/profile-trans.svg" alt="..." />

                <span>
                    Transactions
                </span>
            </li>
            <li class="flex flex-col px-2.5 py-2 w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/support-2.svg" alt="..." />

                <span>
                    Support
                </span>
            </li>
        </ul>
    </div>


</aside>