<aside class="h-[54.5rem] overflow-hidden rounded-[0.625rem] relative bg-white w-[20%]">
    <div class="h-[9.5rem] w-full bg-gradient-to-r from-[#FFA371] bg-[#FF5A00]"></div>
    <div class="flex justify-center">
        <img src="/icons/UpdateMain/profile.png" alt="..." class="absolute top-24 rounded-full " />
    </div>

    <div class="flex mt-28 px-5 text-[#1D1B20] justify-center">
        <ul class="w-full flex flex-col gap-3">
            <li class="flex px-2.5 py-2  w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/profile.svg" alt="..." />

                <span>
                    Profile
                </span>
            </li>
            <li class="flex bg-[#FFDAC6] px-2.5 py-2 w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/profile-wallet.svg" alt="..." />

                <span>
                    Wallet
                </span>
            </li>
            <li class="flex px-2.5 py-2 w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/ticket.svg" alt="..." />

                <span>
                    Tickets
                </span>
            </li>
            <li class="flex px-2.5 py-2 w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/profile-trans.svg" alt="..." />

                <span>
                    Transactions
                </span>
            </li>
            <li class="flex px-2.5 py-2 w-full rounded-lg items-center gap-2">
                <img src="/icons/UpdateMain/support-2.svg" alt="..." />

                <span>
                    Support
                </span>
            </li>
        </ul>
    </div>

    <button class="absolute flex justify-center w-full bottom-5 text-sm text-[#EE0035]">
        خروج از حساب کاربری
    </button>
</aside>