<div class="grid grid-cols-2 w-[80%] h-fit gap-5">
    <div class="bg-white flex flex-col gap-3 rounded-2xl py-6">
        <span class="font-bold text-[#1C0E07] text-2xl px-5">
            wallet
        </span>

        <div
            class="flex flex-col text-white px-5 py-4 gap-2 w-full bg-gradient-to-r from-[#FFA371] bg-[#FF5A00]">
            <div class="flex items-center gap-2">
                <img src="/icons/UpdateMain/w-wallet.svg" alt="..." />
                <span>
                    charge wallet
                </span>
            </div>
            <span>
                12.000.000 IRR
            </span>
        </div>

        <div class="flex px-5 flex-col gap-3">
            <span class="text-[#1C0E07] font-bold">
                افزایش شارژ کیف پول
            </span>

            <p class="text-[#307FF8] text-sm">
                برای افزایش شارژ کیف پول روی دکمه زیر کلیک کنید.
            </p>

            <button id="chargeBtn"
                class="border py-3 px-10 w-fit items-center rounded-[0.625rem] text-white bg-[#307FF8] flex gap-2">
                <img src="/icons/UpdateMain/plus-w.svg" alt="..." />
                add charge
            </button>
        </div>
    </div>

    <div class="bg-white flex flex-col gap-3 rounded-2xl py-6">
        <span class="font-bold text-[#1C0E07] text-2xl px-5">
            Validity
        </span>

        <div
            class="flex flex-col text-white px-5 py-4 gap-2 w-full bg-gradient-to-r from-[#7fadf3] bg-[#307FF8]">
            <div class="flex items-center gap-2">
                <img src="/icons/UpdateMain/validity.svg" alt="..." />
                <span>
                    Validity
                </span>
            </div>

            <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                    <span>
                        باقی مانده:
                    </span>
                    <span>
                        12.000.000 IRR
                    </span>
                </div>
                <div class="flex items-center gap-2">
                    <span>
                        اعتبار اولیه:
                    </span>
                    <span>
                        12.000.000 IRR
                    </span>
                </div>
            </div>

        </div>

        <div class="flex px-5 flex-col gap-3">
            <span class="text-[#1C0E07] font-bold">
                درخواست افزایش اعتبار
            </span>

            <p class="text-[#307FF8] text-sm">
                برای ثبت درخواست افزایش اعتبار با شتیبانی تماس بگیرید.
            </p>

            <div class="flex items-center gap-5">
                <span>
                    شماره پشتیبانی:
                </span>
                <span>
                    +964 780 814 3063
                </span>
            </div>
        </div>
    </div>
</div>