<div id="fast_search" class="text-[#1C0E07] mb-10 mobile:hidden lg:basis-2/5">
    <div class="bg-white gap-5 p-6 rounded-2xl flex flex-col">
        <div class="flex items-center justify-between">
            <h4 data-skeleton="true" class="font-bold text-[1.375rem]">
                Fast Search
            </h4>

            <button data-skeleton="true" id="edit_btn"
                class="border text-sm flex items-center gap-2 py-2.5 px-4 rounded-full">
                <img src="/icons/UpdateMain/edit.svg" alt="">
                <span>
                    Edit
                </span>
            </button>
        </div>
        <div id="inner_fast_search" class="flex flex-col w-full justify-between gap-3 items-center">
            <div class="flex rounded justify-between w-full items-center">
                <span>Mashhad to Najaf</span>
                <span>
                    1.500.00 تومان
                </span>
            </div>

        </div>
        <!-- <div id="inner_fast_search" class="flex flex-col gap-3"> -->
        <!-- insert -->

        <!-- </div> -->
    </div>
</div>