<div id="modal_search_passengers"
class="fixed hidden bg-black/50 top-0 z-50 justify-center items-center left-0 w-full h-full">
<div
    class="w-[50rem] inner_modal_search_passengers mobile:w-[30.75rem] flex flex-col z-50 bg-white rounded-xl p-4 gap-3">
    <div class="flex justify-between">
        <div class="flex items-center gap-3">
            <button id="close-modal_search_passengers">
                <img src="/icons/close.svg" alt="">
            </button>
            <span class="text-2xl font-bold">
                A selection from previous travelers
            </span>
        </div>

        <div class="border items-center rounded-lg px-3.5 gap-2 py-3 border-[#E1E2E4] flex">
            <label for="serach-modal">
                <img src="/icons/UpdateMain/search.svg" alt="" />
            </label>

            <input id="serach-modal" name="serach-modal" type="text" class="w-full outline-none"
                placeholder="Name, passport number" />
        </div>
    </div>

    <div class="flex text-[#5B4A42] flex-col gap-5">
        <div class="w-full py-2 px-6 bg-[#F7F7F9] flex justify-between">
            <span>
                first name and last name
            </span>
            <span>
                number of passengers
            </span>
        </div>
        <div class="w-full py-2 px-6 hover:bg-[#F7F7F9] flex justify-between">
            <span>
                Ayoub Gharibavi .1
            </span>
            <span>
                3 passenger
            </span>
        </div>
        <div class="w-full py-2 px-6 hover:bg-[#F7F7F9] flex justify-between">
            <span>
                Hossein Ahmadiyan .2
            </span>
            <span>
                5 passenger
            </span>
        </div>
    </div>


</div>
</div>