<div id="modal-loads-payment"
class="fixed left-0 top-0 w-full h-full bg-[#00000040] z-[199] hidden items-center justify-center break-words">
<div class="w-[42rem] bg-white rounded-[1rem] mx-4">
    <div class="w-full h-[21.5rem] rounded-t-[1rem] bg-cover flex items-center ltr:turn ltr:justify-end"
        style="background-image: url('/images/search/loads.png');">
        <div class="bg-white w-[19rem] px-4 pt-4 pb-2 ltr:rounded-r-[2rem] rtl:rounded-l-[2rem] ltr:turn">
            <h2 class="font-bold text-lg w-[90%] text-crs-first leading-[2rem]">پشتیبانی سریع در تمام ساعات شبانه روز</h2>
            <h3 class="mt-1 text-[#5B4A42]">از طریق راه های ارتباط با پشتیبانی</h3>
            <h1 class="text-sm mt-6 text-crs-first leading-[1.5rem]">
                CRSTRIP<span class="text-[#2C160B]">.COM</span>
            </h1>
        </div>
    </div>
    <div class="h-[3.75rem] px-6 flex items-center gap-4 text-[#81756F]">
        <img class="w-8 h-8 rotating" src="/icons/UpdateMain/loading.png" alt="load">
        <div class="pt-0.5">
            در حال انتقال به درگاه پرداخت
        </div>
    </div>
</div>
</div>