<div id="modal_yes_payment"
            class="fixed hidden bg-black/50 top-0 z-50 justify-center items-center left-0 w-full h-full">
            <div
                class="w-[50rem] inner_modal_yes_passengers mobile:w-[30.75rem] flex flex-col justify-center items-center z-50 bg-white rounded-xl p-4 gap-3">
                <img src="/icons/UpdateMain/successfully.svg" alt="" />

                <span class="text-[#1C0E07] font-bold text-2xl">
                    پرداخت با موفقیت انجام شد
                </span>

                <p class="text-[#1C0E07]">
                    شما میتوانید از طریق
                    <a href="#" class="text-[#307FF8] underline">
                        بلیط ها
                    </a>
                    بلیط خود را مشاهده و دانلود کنید.
                </p>

                <button id="close_modal_yes_payment" class="rounded-xl bg-[#307FF8] text-white py-3 px-8">
                    متوحه شدم
                </button>
            </div>
        </div>