<div
                        class="w-full relative overflow-hidden !flex !items-center !gap-2 bg-white rounded-xl !px-5 !py-2">
                        <!-- arrow right -->
                        <div
                            class="absolute -left-2 z-30 cursor-pointer w-10 h-10 flex items-center justify-center rounded-full">
                            <img src="/icons/UpdateMain/left.svg" alt="" />
                        </div>
                        <!-- content -->
                        <div class="h-full flex gap-3">
                            <label
                            data-skeleton="true"
                                class="select group flex-col rounded-lg text-center transition-all text-crs-first bg-crs-first/15 w-[7.625rem] py-2 cursor-pointer text-sm  !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class=" text-crs-first">1.200$</span></label>
                            <label
                            data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all hover:border-crs-first w-[7.625rem] py-2 cursor-pointer text-sm text-[#101D3B] !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class="text-[#2AB930]">1.200$</span></label>
                            <label
                            data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all !h-auto w-[7.625rem] py-2 cursor-pointer text-sm text-[#A69F9B] !flex  justify-center"><input
                                    type="radio" class="hidden"><span>FRI-12/6</span></label>
                            <label
                            data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all hover:border-crs-first w-[7.625rem] py-2 cursor-pointer text-sm text-[#101D3B] !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class="text-[#2AB930]">1.200$</span></label> 
                                    <label
                                    data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all hover:border-crs-first w-[7.625rem] py-2 cursor-pointer text-sm text-[#101D3B] !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class="text-[#2AB930]">1.200$</span></label> 
                                    <label
                                    data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all hover:border-crs-first w-[7.625rem] py-2 cursor-pointer text-sm text-[#101D3B] !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class="text-[#2AB930]">1.200$</span></label>

                            <label
                            data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all hover:border-crs-first w-[7.625rem] py-2 cursor-pointer text-sm text-[#101D3B] !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class="text-[#2AB930]">1.200$</span></label>
                            <label
                            data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all hover:border-crs-first w-[7.625rem] py-2 cursor-pointer text-sm text-[#101D3B] !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class="text-[#2AB930]">1.200$</span></label>
                            <label
                            data-skeleton="true"
                                class="select group flex-col bg-white text-center border-x transition-all hover:border-crs-first w-[7.625rem] py-2 cursor-pointer text-sm text-[#101D3B] !flex items-center justify-center"><input
                                    type="radio" class="hidden"><span class="text">FRI-12/6</span><span
                                    class="text-[#2AB930]">1.200$</span></label>

                        </div>

                        <!-- arrow left -->
                        <div
                            class="mobile:hidden absolute -right-2 z-30 cursor-pointer w-10 h-10 flex items-center justify-center rounded-full">
                            <img src="/icons/UpdateMain/left.svg" class="rotate-180 " alt="..." />
                        </div>
                    </div>