<div>
    <h3 class="text-sm leading-[1.5rem] text-[#1C0E07] text-center mt-[3.5rem]">
        Why you should chose
        <span class="text-crs-first"> Us </span>
    </h3>
    <h1 class="font-black text-[3rem] leading-[3.625rem] text-[#1C0E07] text-center mt-2"
        style="letter-spacing: -0.03rem">
        <span class="text-crs-first"> CRSTRIP </span>
        Advantages
    </h1>
    <p class="leading-[1.75rem] text-[#514037] mt-4 text-center">
        In this section, you can see some of the unique features of crstrip. We always try to provide
        the
        best services to our customers.
    </p>
    <div class="flex gap-2 mt-6 justify-center">
        <div
            class="flex register-advantage items-center justify-center gap-2 h-12 rounded-[0.625rem] bg-[#307FF8] text-white px-7 cursor-pointer">
            <img src="/icons/auth/register.svg" alt="register" /> Register
        </div>
        <div
            class="flex login-advantage items-center justify-center gap-2 h-12 rounded-[0.625rem] text-[#307FF8] px-7 cursor-pointer">
            <img src="/icons/auth/login.svg" alt="login" /> Login
        </div>
    </div>
    <div
        class="flex gap-4 mt-8 flex-wrap justify-center mobile:flex-nowrap mobile:overflow-auto mobile:justify-start hideScroll">
        <div
            class="rounded-[0.75rem] min-w-[22rem] pt-4 pb-8 px-5 cursor-pointer flex-1 bg-crs-first text-white">
            <div class="flex justify-between items-center">
                <div
                    class="flex items-center justify-center rounded-full w-[3.5rem] h-[3.5rem] bg-[#FFFFFF33]">
                    <img src="/icons/auth/headset-a.svg" alt="headset" />
                </div>
                <span class="opacity-[0.2] text-[3rem] font-black leading-[3.5rem] mt-1">01</span>
            </div>
            <h3 class="mt-8 font-bold text-lg leading-[2rem]">24 Hour Support</h3>
            <p class="mt-2 leading-[1.75rem]">We have 24 hour online and offline and etc support.</p>
        </div>
        <div
            class="rounded-[0.75rem] min-w-[22rem] pt-4 pb-8 px-5 cursor-pointer flex-1 bg-[#F7F7F9] text-[#1C0E07]">
            <div class="flex justify-between items-center">
                <div
                    class="flex items-center justify-center rounded-full w-[3.5rem] h-[3.5rem] bg-[#EEEEF0]">
                    <img src="/icons/auth/money.svg" alt="money" />
                </div>
                <span class="opacity-[0.2] text-[3rem] font-black leading-[3.5rem] mt-1">02</span>
            </div>
            <h3 class="mt-8 font-bold text-lg leading-[2rem]">Lower Price</h3>
            <p class="mt-2 leading-[1.75rem]">
                We try to provide you with the best service at the lowest price.
            </p>
        </div>
        <div
            class="rounded-[0.75rem] min-w-[22rem] pt-4 pb-8 px-5 cursor-pointer flex-1 bg-[#F7F7F9] text-[#1C0E07]">
            <div class="flex justify-between items-center">
                <div
                    class="flex items-center justify-center rounded-full w-[3.5rem] h-[3.5rem] bg-[#EEEEF0]">
                    <img src="/icons/auth/memory.svg" alt="memory" />
                </div>
                <span class="opacity-[0.2] text-[3rem] font-black leading-[3.5rem] mt-1">03</span>
            </div>
            <h3 class="mt-8 font-bold text-lg leading-[2rem]">Latest technology</h3>
            <p class="mt-2 leading-[1.75rem]">
                We provide the best for you and in this way we use the latest technologies
            </p>
        </div>
        <div
            class="rounded-[0.75rem] min-w-[22rem] pt-4 pb-8 px-5 cursor-pointer flex-1 bg-[#F7F7F9] text-[#1C0E07]">
            <div class="flex justify-between items-center">
                <div
                    class="flex items-center justify-center rounded-full w-[3.5rem] h-[3.5rem] bg-[#EEEEF0]">
                    <img src="/icons/auth/emoji.svg" alt="emoji" />
                </div>
                <span class="opacity-[0.2] text-[3rem] font-black leading-[3.5rem] mt-1">04</span>
            </div>
            <h3 class="mt-8 font-bold text-lg leading-[2rem]">User Friendly</h3>
            <p class="mt-2 leading-[1.75rem]">You can get your service with just a few clicks.</p>
        </div>
    </div>
</div>