<div
class="bg-[#FFF3EC] rounded-[1rem] flex justify-between items-center mt-[3.5rem] mobile:flex-col mobile:text-center">
<div class="px-10 mobile:pt-6 mobile:px-4">
    <h1 class="text-[3rem] leading-[3.625rem] font-black mt-1 mobile:text-[2.25rem] mobile:leading-[3rem]"
        style="letter-spacing: -0.03rem">
        And many other
        <span class="text-crs-first"> features </span>
        that you should try
    </h1>
    <p class="text-[#514037] leading-[1.75rem] mt-6">
        We have put many features for your convenience in CRSTRIP that you can experience on the
        website
        or app.
    </p>
    <div class="flex gap-2 mt-6 mobile:justify-center">
        <div
            class="flex register-features items-center justify-center gap-2 h-12 rounded-[0.625rem] bg-[#307FF8] text-white px-7 cursor-pointer">
            <img src="/icons/auth/register.svg" alt="register" /> Register
        </div>
        <div
            class="flex login-features items-center justify-center gap-2 h-12 rounded-[0.625rem] text-[#307FF8] px-7 cursor-pointer">
            <img src="/icons/auth/login.svg" alt="login" /> Login
        </div>
    </div>
</div>
<img class="w-1/2 my-[3rem] mb-0 mx-4 mobile:w-full" src="/images/auth/third.png?v=2" alt="" />
</div>