<footer class="w-full mt-20">
    <div dir="ltr" class="bg-[#1C0E07] pt-6 pb-8 text-[#F7F7F9] text-center">
        <h1 class="text-xl font-bold leading-[2.5rem]">CRS Trip</h1>
        <h2 class="text-sm leading-[1.5rem]">If You Want To Go Far, Go Together</h2>
        <div class="mt-8 flex items-center justify-center">
            <img class="w-10 cursor-pointer" src="/icons/auth/Whatsapp.svg" alt="Whatsapp" /><img
                class="w-10 cursor-pointer" src="/icons/auth/Telegram.svg" alt="Telegram" /><img
                class="w-10 cursor-pointer" src="/icons/auth/Instagram.svg" alt="Instagram" />
        </div>
        <div
            class="flex items-center justify-center gap-10 gap-y-4 mt-2 text-lg leading-[1.875rem] mobile:flex-col mobile:mt-6">
            <div class="flex items-center gap-2">
                <img class="w-6 mb-1.5" src="/icons/auth/location.svg" alt="location" /> Dubai - Emirates
            </div>
            <div class="flex items-center gap-2">
                <img class="w-6 mb-1.5" src="/icons/auth/location.svg" alt="location" /> Najaf - Iraq
            </div>
            <div>info@crstrip.com</div>
        </div>
    </div>
    <div dir="ltr" class="px-6 h-[4.5rem] flex items-center justify-center gap-2 text-sm text-[#2C160B]">
        <img class="w-6 h-6" src="/icons/search/rights.svg" alt="rights" /><span class="pt-1.5">
            All rights to these services (website and mobile application) are reserved and owned by CRS
            Trip</span>
    </div>
</footer>