<div
					class="bg-[#FFF3EC] rounded-[1rem] flex justify-between items-center mobile:flex-col mobile:text-center">
					<div class="px-10 mobile:pt-6 mobile:px-4">
						<h3 class="text-sm leading-[1.5rem] text-[#1C0E07]">
							Welcome to <span class="text-crs-first">CRS Trip</span>
						</h3>
						<h1 class="text-[3rem] leading-[3.625rem] font-black mt-2 mobile:text-[2.25rem] mobile:leading-[3rem]"
							style="letter-spacing: -0.03rem">
							Where The
							<span class="text-crs-first"> Journey </span>
							Begins and
							<span class="text-crs-first"> Memories </span>
							are made
						</h1>
						<p class="text-[#514037] leading-[1.75rem] mt-6">
							CRSTRIP is an integrated system of tourism services. This system provides you with many
							qualities such as easy Ticket sales, accurate control of account and sales, Control of
							financial
							affairs, etc.
						</p>
						<div class="flex gap-2 mt-6 mobile:justify-center">
							<div
								class="flex register items-center justify-center gap-2 h-12 rounded-[0.625rem] bg-[#307FF8] text-white px-7 cursor-pointer">
								<img src="/icons/auth/register.svg" alt="register" /> Register
							</div>
							<div
								class="flex login items-center justify-center gap-2 h-12 rounded-[0.625rem] text-[#307FF8] px-7 cursor-pointer">
								<img src="/icons/auth/login.svg" alt="login" /> Login
							</div>
						</div>
					</div>
					<img class="w-1/2 my-[3rem] mx-4 mobile:w-full" src="/images/auth/first.png?v=2" alt="" />
				</div>