<div
					class="bg-[#FFF3EC] rounded-[1rem] flex justify-between items-center mt-[3.5rem] mobile:flex-col-reverse mobile:text-center">
					<img class="w-1/2 my-[3rem] mx-4 mobile:w-full" src="/images/auth/second.png?v=2" alt="" />
					<div class="px-10 mobile:pt-6 mobile:px-4">
						<h3 class="text-sm leading-[1.5rem] text-[#1C0E07]">
							<span class="text-crs-first"> CRSTRIP </span>
							On Mobile
						</h3>
						<h1 class="text-[3rem] leading-[3.625rem] font-black mt-2 mobile:text-[2.25rem] mobile:leading-[3rem]"
							style="letter-spacing: -0.03rem">
							With the
							<span class="text-crs-first"> Mobile Version </span>
							, We Can Book Your Tourist Services
							<span class="text-crs-first"> Very Easily </span>
						</h1>
						<p class="text-[#514037] leading-[1.75rem] mt-6">
							With the CRSTRIP mobile version, you can use our services at any time and anywhere. The
							mobile
							phone version of CRSTRIP is specially designed and optimized for mobile phones. Our focus is
							your convenience on all platforms.
						</p>
						<div class="flex gap-2 mt-6 mobile:justify-center">
							<div
								class="flex register-mobile items-center justify-center gap-2 h-12 rounded-[0.625rem] bg-[#307FF8] text-white px-7 cursor-pointer">
								<img src="/icons/auth/register.svg" alt="register" /> Register
							</div>
							<div
								class="flex login-mobile items-center justify-center gap-2 h-12 rounded-[0.625rem] text-[#307FF8] px-7 cursor-pointer">
								<img src="/icons/auth/login.svg" alt="login" /> Login
							</div>
						</div>
					</div>
				</div>