<div class="mt-[3.5rem]">
    <h2 class="text-[3rem] font-black text-[#1C0E07] text-center leading-[3.625rem]"
        style="letter-spacing: -0.03rem">
        <span class="text-crs-first"> Our </span>
        Partners
    </h2>
    <p class="mt-4 leading-[1.75rem] text-[#514037] text-center max-w-[30rem] mx-auto">
        In the way of providing CRSTRIP services, it cooperates with the best companies in the world to
        provide an excellent experience for its customers.
    </p>
    <div
        class="flex justify-center items-center gap-x-20 gap-y-10 flex-wrap mt-10 opacity-50 mobile:flex-nowrap mobile:overflow-auto mobile:justify-start hideScroll">
        <img class="h-[4.5rem]" src="/images/auth/amadeus.png" alt="amadeus" /><img class="h-[2.5rem]"
            src="/images/auth/sabre.png" alt="sabre" /><img class="h-[5rem]"
            src="/images/auth/giata.png" alt="giata" /><img class="h-[4.5rem]"
            src="/images/auth/iata.png" alt="iata" /><img class="h-[4.375rem]"
            src="/images/auth/travelvision.png" alt="travelvision" /><img class="h-[5rem]"
            src="/images/auth/iranair.png" alt="iranair" />
    </div>
</div>