<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="edit_fast" class="mt-10 hidden text-[#1C0E07] mx-20 mobile:mx-8">
        <div class="bg-white gap-5 px-5 py-3 rounded-2xl flex flex-col">
            <div class="flex items-center justify-between">
                <h4 class="font-bold text-2xl lg:text-[28px]">
                    Fast Search
                </h4>

                <div class="flex items-center gap-2">

                    <button id="cancel_edit"
                        class="border border-[#307FF8] text-[#307FF8] flex justify-center items-center text-sm py-2 px-6 rounded-[10px]">
                        Cancel
                    </button>
                    <button id="confirm_edit"
                        class="bg-[#307FF8] text-white text-sm flex justify-center items-center gap-2 py-2 px-6 rounded-[10px]">
                        <img src="/icons/UpdateMain/checked.svg" alt="" />
                        <span>
                            Confirm
                        </span>
                    </button>
                </div>

            </div>

            <div id="inner_edit"
                class="grid w-full grid-cols-1 lg:w-auto lg:grid-cols-3 justify-between gap-3 items-center">
                <!-- inner edit -->
            </div>
        </div>

    </div>
</body>
</html>