<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="fast_search" class="mt-10 text-[#1C0E07] mx-20 mobile:mx-8">
        <div class="bg-white gap-5 px-5 py-3 rounded-2xl flex flex-col">
            <div class="flex items-center justify-between">
                <h4 class="font-bold text-2xl lg:text-[28px]">
                    Fast Search
                </h4>

                <button id="edit_btn" class="border text-sm flex items-center gap-2 py-2.5 px-4 rounded-full">
                    <img src="/icons/UpdateMain/edit.svg" alt="">
                    <span>
                        Edit
                    </span>
                </button>
            </div>
            <div id="inner_fast_search"
                class="grid w-full grid-cols-1 lg:w-auto lg:grid-cols-3 justify-between gap-3 items-center">
                <div class="flex rounded p-2 justify-between w-full items-center">
                    <span>Mashhad to Najaf</span>
                    <span>
                        1.500.00 تومان
                    </span>
                </div>

            </div>
            <!-- <div id="inner_fast_search" class="flex flex-col gap-3"> -->
            <!-- insert -->

            <!-- </div> -->
        </div>
    </div>
</body>
</html>