<footer class="w-full">

    <div class=" bg-crs-footer py-10 mobile:px-7">
        <div class="flex px-[5rem] mobile:px-0 justify-between mobile:flex-col  lg:max-w-[105rem] lg:mx-auto">
            <div>
                <img src="/images/UpdateMain/logo.svg" alt="search">
                <p class="text-lg leading-[1.875rem] mt-2 text-Black/2">
                    Where the Journey Begins and Memories are Made.
                </p>
                <div class="mt-10 mx-2 flex gap-2">
                    <div class="bg-white rounded-[0.5rem] p-1 cursor-pointer">
                        <img class="w-12 h-12" src="/icons/search/Instagram.svg" alt="Instagram" />
                    </div>
                    <div class="bg-white rounded-[0.5rem] p-1 cursor-pointer">
                        <img class="w-12 h-12" src="/icons/search/Telegram.svg" alt="Telegram" />
                    </div>
                    <div class="bg-white rounded-[0.5rem] p-1 cursor-pointer">
                        <img class="w-12 h-12" src="/icons/search/Whatsapp.svg" alt="Whatsapp" />
                    </div>
                </div>
                <h2 class="font-bold text-crs-first mt-6 px-2">CRSTRIP<span class="text-[#2C160B]">.COM</span></h2>
            </div>
            <div class="flex gap-[5.5rem] pt-4 mobile:my-6 mobile:justify-start justify-center">
                <div>
                    <h4 class="text-2xl leading-[2.5rem] font-bold text-[#2C160B]">Menu</h4>
                    <ul class="mt-6 space-y-4 text-[#5B4A42] text-xl leading-[1.875rem]">
                        <li>Services</li>
                        <li>Support</li>
                        <li>About us</li>
                        <li>Contact us</li>
                    </ul>
                </div>
                <div>
                    <h4 class="text-2xl leading-[2.5rem] font-bold text-[#2C160B]">Contact Info</h4>
                    <ul class="mt-6 space-y-4 text-[#5B4A42] text-xl leading-[1.875rem]">

                        <li class="flex items-center gap-2">
                            <img class="w-6 h-6" src="/icons/UpdateMain/sms.svg" alt="call" /><span
                                dir="ltr">crstrip.com@gmail.com</span>
                        </li>
                        <li class="flex items-center gap-2">
                            <img class="w-6 h-6" src="/icons/UpdateMain/call.svg" alt="call" /><span
                                dir="ltr">+9647815639914</span>
                        </li>
                        <li class="flex items-center gap-2">
                            <img class="w-6 h-6" src="/icons/UpdateMain/location.svg" alt="location" /><span
                                dir="ltr">Najaf - Iraq</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div dir="ltr" class="px-6 bg-white h-[4.5rem] flex items-center justify-center gap-2 text-sm text-[#2C160B]">
        <img class="w-6 h-6" src="/icons/search/rights.svg" alt="rights" /><span class="pt-1.5">
            All rights to these services (website and mobile application) are reserved and owned by CRS Trip</span>
    </div>
</footer>