<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex mobile:flex-col mobile:gap-11 px-16 my-16 items-center justify-center">
        <img src="/images/UpdateMain/travelpng.png" alt="">

        <div class="flex flex-col gap-11">
            <div class="flex items-center gap-2">
                <span class="text-4xl font-bold text-[#1C0E07]">
                    About
                </span>
                <img src="/images/UpdateMain/logo.svg" alt="search">

            </div>

            <p class="mobile:leading-7">
                In 2020, CrsTrip was founded with the aim of providing online airline ticket sales services to
                destinations worldwide. This company, with an experienced and specialized team, managed to become
                one of the most reputable airline ticket sales companies in Iran in a short period of time. CRSTrip,
                in collaboration with over 100 reputable airlines worldwide, makes it easy and quick for its
                customers to purchase airplane tickets. Customers of this company can buy their plane tickets to
                their desired destinations at any time, day or night, from anywhere, using the CRSTrip website or
                app.
            </p>

            <div class="flex mobile:justify-center gap-2">
                <button
                    class="bg-[#307FF8] gap-2 flex text-white items-center justify-center rounded-[10px] py-3 px-7">
                    <span>
                        Read more
                    </span>

                    <img src="/icons/UpdateMain/right.svg" alt="...">
                </button>
                <button class="border-[#307FF8] border text-[#307FF8] rounded-[10px] py-3 px-7">
                    <span>
                        Connect us
                    </span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>